
<th scope="row">{{character.id}}</th>
<td>{{character.name}}</td>
<td>{{character.species}}</td>
<td>{{character.gender}}</td>
<td>{{character.homeworld}}</td>
<td>
  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
    <button type="button" class="btn btn-secondary">
      <i class="fa fa-pencil" aria-hidden="true"></i> Edit
    </button>
    <button type="button" class="btn btn-danger">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
    </button>
  </div>
</td>

