<nav aria-label="Data grid navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{disabled:Page===1}">
      <button class="page-link" href="#" tabindex="-1"
        (click)="SetPage.emit(Page-1)">Previous</button>
    </li>
    <li *ngRepeat="ResourceCount/Limit;index as i" class="page-item"
      [ngClass]="{active:Page===i+1}">
      <button class="page-link" (click)="SetPage.emit(i+1)">{{i+1}} <span
          *ngIf="Page===i+1" class="sr-only">(current)</span></button>
    </li>

    <li class="page-item" [ngClass]="{disabled:Page*Limit>=ResourceCount}">
      <button class="page-link" (click)="SetPage.emit(Page+1)">Next</button>
    </li>
  </ul>
</nav>
