<nav aria-label="Data grid navigation">
  <ul class="pagination justify-content-end">
    <li class="page-item" [ngClass]="{disabled:page===1}">
      <button class="page-link" href="#" tabindex="-1" (click)="setPage.emit(page-1)">Previous</button>
    </li>
    <li *ngRepeat="resourceCount/limit;index as i" class="page-item" [ngClass]="{active:page===i+1}">
      <button class="page-link" (click)="setPage.emit(i+1)">{{i+1}} <span *ngIf="page===i+1" class="sr-only">(current)</span></button>
    </li>

    <li class="page-item" [ngClass]="{disabled:page*limit>=resourceCount}">
      <button class="page-link" (click)="setPage.emit(page+1)">Next</button>
    </li>
  </ul>
</nav>
