<div [formGroup]="characterForm">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"><span class="required">*</span> Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" #name formControlName="name" placeholder="Name..." [ngClass]="{
          'is-invalid': characterForm.controls.name.invalid && characterForm.controls.name.touched,
          'is-valid': characterForm.controls.name.valid && characterForm.controls.name.touched
        }">
      <div class="invalid-feedback">
        This field is required
      </div>
    </div>


  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label"> <span class="required">*</span> Species</label>
    <div class="col-sm-10">
      <select class="form-control" #species formControlName="species" [ngClass]="{
        'is-invalid': characterForm.controls.species.invalid && characterForm.controls.species.touched,
        'is-valid': characterForm.controls.species.valid && characterForm.controls.species.touched
      }">
        <option *ngFor="let s of speciesData" [ngValue]="s">{{s}}</option>
      </select>
      <div class="invalid-feedback">
        This field is required
      </div>
    </div>
  </div>
  <fieldset class="form-group">
    <div class="row">
      <label class="col-form-legend col-sm-2"> <span class="required">*</span> Gender</label>
      <div class="col-sm-10">
        <div *ngFor="let g of gendersData" class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" formControlName="gender" value="{{g.value}}" [ngClass]="{
              'is-invalid': characterForm.controls.gender.invalid && characterForm.controls.gender.touched,
              'is-valid': characterForm.controls.gender.valid && characterForm.controls.gender.touched
            }">
            {{g.label}}
            <div class="invalid-feedback">
              This field is required
            </div>
          </label>
        </div>
      </div>
    </div>
  </fieldset>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Homeworld</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="homeworld" placeholder="Homeworld..." [ngClass]="{
        'is-invalid': characterForm.controls.gender.invalid && characterForm.controls.gender.touched,
        'is-valid': characterForm.controls.gender.valid && characterForm.controls.gender.touched
      }">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type=submit [disabled]="disabled" (click)="saveCharacter()" class="btn btn-primary">Save Character</button>
    </div>
  </div>
</div>
